@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Async Login & Sign Up</h1>
    <p class="lead">Click the below button to learn the complete blog how this project have been implemented in real scenario.</p>
    <p><a href="http://www.nestedclasses.com/blog/Async-Login" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn C & C++</h2>
        <p>
            Refer your brother, sister and friends to learn C and C++ Programming Language from scratch. www.nestedclasses.com have very easy step by step to cover all the topics on this two Programming Language.
        </p>
        <p><a class="btn btn-default" href="http://www.nestedclasses.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Examples</h2>
        <p>www.nestedclasses.com provides lot's of real time examples on C and C++ Programming language. Refer your friends to learn more.</p>
        <p><a class="btn btn-default" href="http://www.nestedclasses.com/Example">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interview Questions</h2>
        <p>www.nestedclasses.com have more than 100 real time interview questions from different topics of C and C++ Programming Language.</p>
        <p><a class="btn btn-default" href="http://www.nestedclasses.com/InterviewQuestions">Learn more &raquo;</a></p>
    </div>
</div>